/*-------------------- JAVASCRIPT --------------*/

.spin {
    animation-name: spin_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes spin_kf {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(1440deg);
    }
}



/* ------------------- GENEREL STYLING ----------- */

body {
    background-color: #333;
    font-family: "Roboto";
    margin-left: 40px;
    margin-right: 10px;
    color: aqua;
}

h1 {
    font-family: "Roboto", bold;
    text-align: center;
    font-size: 4em;
    color: aqua
}

h2 {
    color: aqua;
}

p {
    color: aqua;
    /*line-height: 25px;*/
}

footer {
    color: aqua;
    margin-left: 20px;
    margin-top: 20px;
}

li {
    line-height: 30px;
}

hr {
    border-color: aqua;
    margin-top: 10px;
}

figcaption {
    text-align: left;
}

/*--------------------- NAV-MENU --------------- */

.nav_menu {
    position: fixed;
    top: 0;
    z-index: 5;
}

.nav_menu ul {
    list-style-type: none;
    margin: 0;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: aqua;
    justify-content: space-between;
    width: 100vw;
}

.nav_menu li {
    float: left;
    font-size: 20px;
}

.nav_menu li a {
    color: #333;
    padding: 15px;
    display: block;
}

.nav_menu li a:hover {
    color: aqua;
    background-color: #333;
}



/* --------------------- TOP-BAR ------------------*/

.overskrift_cv {
    width: 20vw;
}

.top_bar_cv .logo {
    width: 20vw;
}

.top_bar {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 100px;
    justify-content: center;
}

.overskrift {
    width: 100%;
    flex-basis: 200px;
}

.logo {
    width: 50%;
    flex-basis: 200px;
    text-align: center;
}

.logo:hover {
    cursor: url(pics/tornado_small.png), auto;
}

.logo img {
    justify-content: center;
}





/*--------------------- CV ----------------------*/

.text_cv {
    width: 50%;
    flex-grow: 1;
}



.container_cv_top {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.cv_top_left {
    width: 50vw;
    flex-basis: 50vw;
}



.billede_cv {
    width: 50vw;
    flex-grow: 1;
    flex-basis: 100px;
    max-width: 20vw;
    min-width: 200px;
}

.billede_cv img {
    width: 100%;
    flex-grow: 1;
    flex-basis: 200px;
}

.container_cv_bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cv_left {
    width: 28vw;
    flex-grow: 1;
    flex-basis: 265px;
    margin-left: 7vw;
}

.cv_left h3 {
    margin-left: 50px;
}

.cv_middle {
    width: 28vw;
    flex-grow: 1;
    flex-basis: 265px;
    margin-left: 7vw;
    /*padding-top: 50px;*/
}

.cv_right {
    width: 28vw;
    flex-grow: 1;
    flex-basis: 265px;
    margin-left: 7vw;
    /*padding-top: 50px;*/
}

.container_cv_bottom h4 {
    margin-bottom: 4px;
}

/* ------------------ FORSIDE ------------ */

.top {
    display: flex;
    flex-wrap: wrap;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
}

.container {
    border-radius: 12px;
    border-style: solid;
    border-color: aqua;
    border-width: 10px;
    margin: 20px;
    flex-grow: 1;
    flex-basis: 300px;
    position: relative;
    width: 50%;
}

.container img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*.container:hover {
    transform: scale(1.08);
}*/

.container:hover .image {
    opacity: .2;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    color: aqua;
    font-size: 5em;
    padding: 20px 20px;
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
}

/*------------------- TEMA 1 WEBDESIGN ------------------*/

.tema1_top {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.tema1_top_text {
    width: 40vw;
    margin: 10px;
}

.tema1_top_text p {
    margin-bottom: 40px;
}

.tema1_top_billede1,
.tema1_top_billede2,
.tema1_top_billede3 {
    width: 15vw;
    flex-basis: 300px;
    margin: 10px;
    text-align: center;
}

.tema1_top_billede1 img,
.tema1_top_billede2 img,
.tema1_top_billede3 img {
    width: 100%;
}

a {
    text-decoration: none;
    color: aqua;
}

a:visited {
    text-decoration: none;
    color: aqua;
}


/*------------------- TEMA 2 ANIMATION --------*/

.animation_top,
.baggrundsdesign,
.baggrundsskitser,
.sexogsamfund {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.animation_top_text,
.karakterdesign_text,
.baggrundsdesign_text,
.lyd_text,
.sos_text {
    width: 35vw;
}

.animation_top_billede,
.karakterdesign_billede,
.baggrundsdesign_billede,
.sos_billede {
    flex-basis: 800px;
    position: relative;
}

.animation_top_billede img,
.karakterdesign_billede img,
.baggrundsdesign_billede img,
.baggrundsskitser img,
.lyd_billede img,
.sos_billede img {
    width: 100%;
    height: 100%;
    max-width: 800px;
    object-fit: cover;
}

.karakterdesign,
.lydsiden {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin-bottom: 50px;
}

.baggrundsskitse_left,
.baggrundsskitse_middle,
.baggrundsskitse_right {
    flex-basis: 600px;
    position: relative;

}

.sexogsamfund {
    margin-top: 40px
}

/*------------------- TEMA 3 CONTENT ----------*/

.cphdox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.cphdox_text {
    width: 45vw;
    margin: 10px;
}

.cphdox_video {
    width: 55vw;
    margin: 10px;
    flex-basis: 570px;
    margin-top: 50px;
}

.gram_kaffe {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    justify-content: space-around;
}

.gram_video {
    width: 55vw;
    margin: 10px;
    flex-basis: 570px;
    margin-top: 50px;
}

.gram_text {
    width: 45vw;
    margin: 10px;
}

.gram_text p {
    margin-bottom: 40px;
}

.cphdox_video iframe,
.gram_kaffe iframe {
    width: 650px;
    height: 365px;
}

/*------------------- Tema 4 - UX -------------*/

.kea_app_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;

}

.kea_app_middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 50px;
}

.kea_app_billede {
    text-align: center;
}

/*.kea_app_billede,
.kea_app_billede_top,
    {
    flex-grow: 1;
    position: relative;
    margin: 0px 10px 20px;
    flex-basis: 100px;
    align-items: center;
    max-width: 100%;
}*/

.kea_app_billede_top {
    margin: 5px;
    text-align: center;
}

.kea_app_billede_top img {
    width: 100%;
}

.kea_app_text {
    width: 35vw;
    padding-right: 25px;
}

.kea_app_middle_text {
    width: 25vw;
}

.kea_app_middle_text img {
    width: 100%;
}

.joejuice_top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}

.joe_top_text_left {
    flex-grow: 1;
    width: 20vw;
    padding: 0px 30px;
    flex-basis: 350px;
}

.joe_top_text_right {
    flex-grow: 1;
    width: 20vw;
    padding: 90px 30px;
    flex-basis: 350px;

}

.joe_top_logo {
    flex-grow: 2;
    text-align: center;
    padding-top: 40px;
}

.joejuice_middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.joejuice_middle_billede {
    text-align: center;
    padding: 0px 20px;
    flex-basis: 350px;
    max-width: 400px;

}

.joejuice_middle_billede img {
    max-width: 400px;
}

.joejuice_middle_billede figcaption {
    margin: 0px;
}

.joejuice_middle_text,
.joejuice_bottom_text {
    width: 25vw;
}

.joejuice_bottom {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin-top: 50px;
}

.joejuice_bottom_left,
.joejuice_bottom_right {
    text-align: center;
    padding: 0px 20px;
    flex-basis: 350px;
    max-width: 400px;
}

/*------------------- Media Qeury--------------*/

@media screen and (max-width: 1200px) {
    .text {
        font-size: 2.8em;
    }
}

@media screen and (max-width: 600px) {
    .text {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 680px) {
    h1 {
        font-size: 3em;
    }
}

@media screen and (max-width: 570px) {
    h1 {
        font-size: 2em;
        margin-top: 45px;
    }
}

@media screen and (max-width: 440px) {
    h1 {
        font-size: 3em;
        margin-top: 20px;
    }
}

@media screen and (max-width: 644px) {
    .top_bar {
        margin-top: 160px;
    }
}

@media screen and (max-width: 366px) {
    .top_bar {
        margin-top: 200px;
    }
}

@media screen and (max-width: 1275px) {
    .tema1_top_text,
    .animation_top_text,
    .karakterdesign_text,
    .baggrundsdesign_text,
    .lyd_text,
    .sos_text,
    .cphdox_text,
    .gram_text,
    .kea_app_text,
    .kea_app_middle_text,
    .joe_top_text_right,
    .joejuice_middle_text,
    .joejuice_bottom_text,
    .cv_left,
    .cv_middle,
    .cv_right,
    .cv_top_left {
        width: 80vw;
    }
}

@media screen and (max-width: 515px) {
    .cv_left,
    .cv_middle,
    .cv_right,
    .cv_top_left {
        width: 80vw;
    }
}

@media screen and (max-width: 1000px) {
    .animation_top_billede,
    .karakterdesign_billede,
    .baggrundsdesign_billede,
    .baggrundsskitse_left,
    .baggrundsskitse_middle,
    .baggrundsskitse_right,
    .lyd_billede,
    .sos_billede {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 600px) {
    .animation_top_billede,
    .karakterdesign_billede,
    .baggrundsdesign_billede,
    .baggrundsskitse_left,
    .baggrundsskitse_middle,
    .baggrundsskitse_right,
    .lyd_billede,
    .sos_billede {
        margin-left: 50px;
        margin-right: 50px;
    }
}


@media screen and (max-width: 775px) {
    iframe {
        width: 382px;
        height: 214px;
    }
}

@media screen and (max-width: 720px) {
    .kea_app_text {
        width: 70vw;
    }
}

@media screen and (max-width: 840px) {
    .joe_top_text_right,
    .joe_top_text_right li,
    .joe_top_text_right ul,
    .joe_top_text_left,
    .joe_top_text_left li,
    .joe_top_text_left ul {
        padding: 0px 30px;
        margin: 0px 30px;
    }
}
